<% content_for(:html_title) { @move.name } %>
<section class="section">
  <h1 class="title"><%= @move.name %></h1>
  <p class="content"><%= @move.description %></p>
  <h2 class="title">Move Information</h2>
  <ul>
    <li>
      <strong>Type:</strong> <%= link_to image_tag("types/#{@move.type.name.downcase}.png", alt: "#{@move.type.name} Sprite"), @move.type %>
    </li>
    <li>
      <strong>Power:</strong> <%= @move.power %>
    </li>
    <li>
      <strong>Accuracy:</strong> <%= @move.accuracy %>
    </li>
    <li>
      <strong>PP:</strong> <%= @move.pp %>
    </li>
    <li>
      <strong>Category:</strong> <%= @move.move_category %>
    </li>
  </ul>
  <h2 class="title">Pokemons that can learn <%= @move.name %></h2>
  <ul class="columns is-multiline">
    <% @move.pokemons.each do |pokemon| %>
      <li class="column is-one-quarter">
        <%= image_tag("sprites/#{pokemon.id}.png", alt: "#{pokemon.name} Sprite") %>
        <p><%= link_to pokemon.name, pokemon %></p>
      </li>
    <% end %>
  </ul>
</section>
