<% content_for(:html_title) {@move.name}%>
<h1>
  <%= @move.name%>
</h1>
<p>
  <%= @move.description%>
</p>
<h2>
  Move Information
</h2>
<ul>
  <li>
    Type: <%= link_to @move.type.name, @move.type%>
  </li>
  <li>
    Power: <%= @move.power%>
  </li>
  <li>
    Accuracy: <%= @move.accuracy%>
  </li>
  <li>
    PP: <%= @move.pp%>
  </li>
  <li>
    Category: <%= @move.move_category%>
  </li>
</ul>
<h2>
  Pokemons that can learn <%= @move.name%>
</h2>
<ul>
  <% @pokemon_moves.each do |pokemon_move| %>
    <li><%= link_to pokemon_move.pokemon.name, pokemon_move.pokemon %></li>
  <% end %>
</ul>