<% if @pokemons.count != 0 %>
  <p>
    <%= pluralize(@pokemons.count, "Pokemon")%> found when searching for "<%= params[:keywords]%>"
  </p>
  <ul>
    <% @pokemons.each do |pokemon|%>
      <li>
        <%= image_tag("sprites/#{pokemon.id}.png", alt: "#{pokemon.name} Sprite") %>
        <%= link_to pokemon.name, pokemon%>
        <% pokemon.types.each do |pokemon_type| %>
          <%= link_to image_tag("types/#{pokemon_type.name.downcase}.png" , alt: "#{pokemon_type.name} Image"), pokemon_type %>
        <% end %>
      </li>
    <% end%>
  </ul>
<% else %>
  <p>
    No pokemon found when searching for "<%= params[:keywords]%>"
  </p>
<% end %>

