<h1>
  <%= @pokemon.name%>
</h1>
<p>
  <%= @pokemon.description%>
</p>
<h2>
  Stats
</h2>
<ul>
  <li>
    Type:
    <% @pokemon_types.each do |pokemon_type| %>
      <%= link_to pokemon_type.type.name, pokemon_type.type%>
    <% end %>
  </li>
  <li>
    HP: <%= @pokemon.hp%>
  </li>
  <li>
    Attack: <%= @pokemon.attack%>
  </li>
  <li>
    Defense: <%= @pokemon.defense%>
  </li>
  <li>
    Special Attack: <%= @pokemon.special_attack%>
  </li>
  <li>
    Special Defense: <%= @pokemon.special_defense%>
  </li>
  <li>
    Speed: <%= @pokemon.speed%>
  </li>
</ul>
<h2>
  Moves that <%= @pokemon.name%> can learn.
</h2>
<ul>
  <% @pokemon_moves.each do |pokemon_move| %>
    <li>
      <%= link_to pokemon_move.move.name, pokemon_move.move %>
    </li>
  <% end %>
</ul>