<% content_for(:html_title) { @pokemon.name } %>
<section class="section">
  <div class="box">
    <h1 class="title">
      <%= image_tag("sprites/#{@pokemon.id}.png", alt: "#{@pokemon.name} Sprite", class: 'image is-128x128') %>
      <%= @pokemon.name %>
    </h1>
    <p class="subtitle">
      <%= @pokemon.description %>
    </p>
  </div>
  <div class="box">
    <h2 class="title">Stats</h2>
    <ul>
      <li>
        <strong>Type:</strong>
        <% @pokemon.types.each do |pokemon_type| %>
          <%= link_to image_tag("types/#{pokemon_type.name.downcase}.png" , alt: "#{pokemon_type.name} Image"), pokemon_type %>
        <% end %>
      </li>
      <li><strong>HP:</strong> <%= @pokemon.hp %></li>
      <li><strong>Attack:</strong> <%= @pokemon.attack %></li>
      <li><strong>Defense:</strong> <%= @pokemon.defense %></li>
      <li><strong>Special Attack:</strong> <%= @pokemon.special_attack %></li>
      <li><strong>Special Defense:</strong> <%= @pokemon.special_defense %></li>
      <li><strong>Speed:</strong> <%= @pokemon.speed %></li>
    </ul>
  </div>
  <div class="box">
    <h2 class="title">Moves that <%= @pokemon.name %> can learn.</h2>
    <ul>
      <% @pokemon.moves.each do |pokemon_move| %>
        <li>
          <%= link_to pokemon_move.name, pokemon_move %>
        </li>
      <% end %>
    </ul>
  </div>
</section>
